:root {
    --font-color: 255 255 255;
    --theme-background: 30 45 67;
  }
  
  body {
    background: linear-gradient(90deg,#606060 0%, #000 137.64%);
    margin: 0px;
  }
  
  body::-webkit-scrollbar {
    width: 4px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: rgb(var(--theme-background));
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, input, select, button, span, a, p {
    color: rgb(var(--font-color));
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
  }
  
  .highlight {
    color: rgb(var(--highlight-color));
  }
  
  .fancy-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  
  .fancy-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .fancy-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }
  
  #phone {
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    height: 851px;
    width: 393px;  
    margin: 100px auto;
    position: relative;
    overflow: hidden;
  }
  
  #main-wrapper {
    height: 100%;
    background-color: #000000;
    overflow: auto;
  }
  
  #nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  
  #nav > .nav-main {  
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #000000;
    padding: 0.75rem;
  }
  
  #nav > .nav-main > .brand {
    display: flex;  
    align-items: center;
    gap: 0.5rem;
    outline: none;
    text-decoration: none;
    width: 100%;
  }
  
  #nav > .nav-main > .brand > img {
    height: 2rem;
  }
  
  #nav > .nav-main > .brand > i {
    font-size: 2.25rem;
    color: rgba(var(--font-color) / 90%);
  }
  
  #nav > .nav-main > .brand > span {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: rgba(var(--font-color) / 90%);
    text-transform: uppercase;
  }
  
  #nav > .nav-main > .profile {
    display: flex;
    outline: none;
  }
  
  #nav > .nav-main > .profile > img {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
  }
  
  #nav > .nav-toolbar {
    display: flex;
    gap: 0.75rem;
    padding: 0rem 0.75rem;
    overflow: auto;
    
  }
  
  #nav > .nav-toolbar > button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 0.35rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  #nav > .nav-toolbar > button > i {
    font-size: 0.9rem; 
  }
  
  #content {
    display: flex;
    flex-direction: column;
    padding-bottom: 4.25rem;
  }
  
  #content > .section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  #content > .section > .section-title {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0rem 0.75rem;
  }
  
  #content > .section > .section-content {
    width: calc(100% - 0rem);
    background-color: #000000;
    padding: 0.75rem;
    overflow: auto;
  }
  
  #content > .section:nth-of-type(odd) > .section-content {
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
  }
  
  #content > .section:nth-of-type(even) > .section-content {
    margin-right: 0.75rem;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
  }
  
  #content > .section > .section-content > .section-content-items {
    display: flex;
    gap: 0.75rem;
  }
  
  #content > .section > .section-content > .section-content-items > .section-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    align-items: center;
  }
  
  #content > .section > .section-content > .section-content-items > .section-item > img {
    border-radius: 100%;
    width: 5em;
    height: 5em;
    object-fit: cover;
    padding: 4px;
    object-position: center;
    background: linear-gradient(#1F2126, #1F2126) padding-box,
                linear-gradient(to right, #ff7b00, #ff3636, darkorchid) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
  }
  
  #content > .section > .section-content > .section-content-items > .section-item > .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .header {
    display: flex; 
    justify-content: space-between; 
    padding: 0.75rem; 
    align-items: center;
  }

  .ImageAndTitle {
    display: flex; 
    align-items: center;
  }

  .PostProfileImage {
    border-radius: 100%;
    width: 2em;
    height: 2em;
    object-fit: cover;
    padding: 2px;
    object-position: center;
    background: linear-gradient(#1F2126, #1F2126) padding-box,
                linear-gradient(to right, #ff7b00, #ff3636, darkorchid) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
  }

  #PostTitleStyling {
    margin-left: 0.75rem;
  }

  .videoStyling {
    width: 100%
  }

  .ImageStyling {
    width: 100%
  }

  .icons {
    display: flex; 
    justify-content: space-between; 
    padding: 0.75rem;
  }

  .Likes {
    padding: 0rem 0.75rem 0.4rem 0.75rem; 
    display: flex;
  }

  .Description {
    padding: 0rem 0.75rem 0.4rem 0.75rem; 
    display: flex;
  }

  .Comments {
    padding: 0rem 0.75rem 0.4rem 0.75rem; 
    display: flex; 
    color: #adadad;
  }

  .Date {
    padding: 0rem 0.75rem 0.4rem 0.75rem; 
    display: flex;
  }

  #DateColor {
    color: #adadad;
  }

  #bottom-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background-color: #000000;
  }
  
  #bottom-nav > a {
    flex-grow: 1;
    display: grid;
    place-items: center;
    padding: 1.25rem;
    outline: none;
    text-decoration: none;
  }
  
  #bottom-nav > a > i {
    font-size: 1.1rem;
  }
  
  .bottomNavIcons {
    height: 1.5rem;
  }
  
  .topNavIcons {
    height: 0.9rem;
  }
  
  .liveIcon {
    background-color: #ff3b38;
    height: 0.48rem;
    width: 0.45rem;
    border-radius: 100%;
    animation: fadeInOut 3s ease-in-out infinite;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-in-out {
    animation: fadeInOut 3s ease-in-out infinite;
  }
  
  @media(max-width: 500px) {
    body {
      overflow: auto;  
    }
    
    #phone {
      height: 100vh;
      display: flex;
      width: 100%;
      margin: 0px auto;
    }
    
    #main-wrapper {
      width: 100%;
      flex-grow: 1;
    }
  }